.idea
target/
.idea/workspace.xml
.gradle
build
out
tags
web/catalina.base_IS_UNDEFINED
spec/node_modules
bin/
logs/

*.iml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
web/src/spec/api/node_modules
.env
node_modules
npm-debug.log
reports
data

=======
# IntelliJ Workspace
.idea/*
GeoLite2-City.mmdb

#=====
#Eclipse
.DS_Store
.classpath
.project
.settings/
.vscode/